section {
  width: 100%;
  .typeHead {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    h2 {
      width: 120px;
      font-size: 24px;
      font-weight: 600;
      font-family: Rubik;
      color: #661d9b;
    }
  }
  .typeBody {
    width: 100%;
    min-height: 40vh;

    .loading {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 40vh;
      p {
        font-size: 24px;
        font-weight: 600;
        font-family: Rubik;
        color: #661d9b;
      }
    }
    .boxBody {
      display: grid;
      align-items: center;
      justify-items: center;
      margin-top: 20px;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      .box {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border: 1px solid #cccccc6b;
        transition: all 0.4s ease-in-out;
        border-radius: 8px;
        gap: 8px;
        padding-bottom: 15px;
        &:hover {
          box-shadow: 0px 18px 45px -10px #00000021;
          img {
            transform: scale(1.03);
          }
        }
        .imgWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          border-radius: 8px;
          overflow: hidden;

          height: 300px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
          }
        }
        .boxText {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 8px;
          h3 {
            font-size: 18px;
            font-weight: 600;
            font-family: Rubik;
            color: #625e64;
          }
          span {
            font-size: 16px;
            font-weight: 400;
            font-family: Rubik;
            color: #625e64;
            &:nth-of-type(even) {
              color: #000;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    width: 100%;
    .typeHead {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      h2 {
        width: 120px;
        font-size: 24px;
        font-weight: 600;
        font-family: Rubik;
      }
    }
    .typeBody {
      width: 100%;
      min-height: 40vh;
      .boxBody {
        display: grid;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .box {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 10px;
          .imgWrapper {
            width: 100%;
            height: 200px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  section {
    width: 100%;
    .typeHead {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      flex-direction: column;
      border: 1px solid red;
      h2 {
        width: 120px;
        font-size: 24px;
        font-weight: 600;
        font-family: Rubik;
      }
    }
    .typeBody {
      width: 100%;
      min-height: 40vh;
      .boxBody {
        display: grid;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        .box {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 10px;
          .imgWrapper {
            width: 100%;
            height: 200px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
