.banner {
  height: 90vh;
  background-image: url("./assets/images/banneBg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40% 100%;
  width: 100%;
  padding: 30px 0px;
  position: relative;
  .line {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: -111;
    position: absolute;
    bottom: -80%;
    left: 0;
  }

  img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  .bannerBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 90px;
    .bannerTexts {
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 40%;
      position: relative;
      gap: 25px;
      h1 {
        font-family: Rubik;
        font-size: 48px;
        font-weight: 700;
        line-height: 56.88px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        span {
          color: #7421b0;
        }
      }
      p {
        font-family: Rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #828282;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 235px;
        height: 70px;
        color: #fff;
        border-radius: 4px;
        opacity: 0px;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        outline: none;
        border: 0;
        cursor: pointer;
        background: linear-gradient(97.02deg, #7421b0 28.9%, #d08eff 139.98%);
        transition: opacity 0.3s ease-in-out;
      }
      button:hover {
        transform: translate(1.1);
      }
      img {
        position: relative;
        top: 130px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    .bannerView {
      display: flex;
      align-items: start;
      height: transparent;
      justify-content: end;
      width: 60%;
      position: relative;
      iframe {
        width: 90%;
        height: 500px;
        border: none;
        border-radius: 8px;
      }
      .blur {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -70px;
        right: 26%;
        width: 250px;
        padding: 20px;
        border-radius: 16px;
        height: 100px;
        backdrop-filter: blur(20px);
        z-index: 100;
        span {
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 25.6px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .banner {
    height: 90vh;
    background-image: url("./assets/images/banneBg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40% 100%;
    width: 100%;
    padding: 50px 0;
    margin-bottom: 30px;

    img {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
    }
    .bannerBody {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      position: relative;
      padding-top: 0;
      .bannerTexts {
        img {
          position: relative;
          top: 20px;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .bannerView {
        display: flex;
        align-items: start;
        height: transparent;
        justify-content: end;
        width: 60%;
        position: relative;
        iframe {
          width: 90%;
          height: 500px;
          border: none;
          border-radius: 8px;
        }
        .blur {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: -90px;
          right: 19%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    height: 100%;
    // min-height: 100vh;
    background-image: url("./assets/images/banneBg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 90% 60%;
    width: 100%;
    padding: 0px 0;

    img {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    .bannerBody {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      position: relative;
      padding-top: 100px;
      gap: 20px;
      .bannerTexts {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        position: relative;
        gap: 25px;
        padding-top: 130px;
        h1 {
          font-family: Rubik;
          font-size: 32px;
          font-weight: 700;
          line-height: 56.88px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          span {
            color: #7421b0;
          }
        }
        p {
          font-family: Rubik;
          font-size: 18px;
          font-weight: 400;
          line-height: 36px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #828282;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 235px;
          height: 70px;
          color: #fff;
          border-radius: 8px;
          font-family: Rubik;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          outline: none;
          border: 0;
          cursor: pointer;
          background: linear-gradient(97.02deg, #7421b0 28.9%, #d08eff 139.98%);
          transition: opacity 0.3s ease-in-out;
        }
        button:hover {
          transform: translate(1.1);
        }
        img {
          position: relative;
          top: 130px;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .bannerView {
        display: flex;
        align-items: start;
        height: transparent;
        justify-content: end;
        width: 100%;
        height: 400px;
        position: relative;
        iframe {
          width: 100%;
          height: inherit;
          border: none;
          border-radius: 8px;
        }
        .blur {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: -90px;
          right: 19%;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .banner {
    height: 100%;
    // min-height: 100vh;
    background-image: url("./assets/images/banneBg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 90% 52%;
    width: 100%;
    padding: 0px 0;

    .bannerBody {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      position: relative;
      padding-top: 100px;
      gap: 30px;
      .bannerTexts {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        gap: 25px;
        padding-top: 150px;

        img {
          display: none;
        }
      }
    }
  }
}
