section {
  display: flex;
  width: 100%;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  .btmImage {
    display: none;
    align-items: end;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    z-index: -2;
    right: -4%;
    width: 30%;

    img {
      height: auto;
      width: auto;
      z-index: -3;
      transform: rotate(45deg);
    }
  }
  .imgs {
    position: relative;
    z-index: -2;
    top: 180px;
    left: 0;
    .cube {
      position: absolute;
      z-index: -22;
    }
    .elps {
      position: absolute;
      top: 170px;
      z-index: -21;
      width: 700px;
    }
  }

  .popularHead {
    display: flex;
    align-items: start;
    flex-direction: column;
    h2 {
      font-family: Rubik;
      font-size: 36px;
      font-weight: 700;
      line-height: 42.66px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      span {
        font-family: Rubik;
        font-size: 36px;
        font-weight: 700;
        line-height: 42.66px;
        color: #7421b0;
      }
    }
    h3 {
      font-family: Rubik;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      span {
        font-family: Rubik;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        color: #7421b0;
      }
    }
  }
  .pupularBody {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 70px 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    .product {
      display: flex;
      align-items: start;
      width: 40%;
      border: 1px solid #dad4d4;
      border-radius: 8px;
      gap: 20px;
      height: 400px;
      background-color: #fff;
      transition: all 0.3s ease-in-out;
      padding: 24px;
      position: relative;

      .count {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: #7421b0;
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(16px, -16px) scale(1);
        transition: all 0.4s ease-in-out;
        animation: pulsate 1.5s infinite, boxShadowWave 1.5s infinite; /* Animatsiya qo'shish */
      }
      .count_hidden {
        display: none;
      }
      .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          background-color: #7421b0;
          color: #fff;
          border: none;

          border-radius: 4px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #60199d;
          }
        }
      }
      .imgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        overflow: hidden;
        height: 100%;
        padding: 10px;
        img {
          width: 100%;
          height: auto;
          transition: transform 0.6s ease-in-out;
          object-fit: fill;
        }
        img:hover {
          transform: scale(1.1);
        }
      }
      .productText {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        height: 100%;
        position: relative;
        h4 {
          font-family: Rubik;
          font-size: 20px;
          font-weight: 500;
          line-height: 32px;
          text-align: left;
          text-decoration-skip-ink: none;
        }
        p {
          font-family: Rubik;
          font-size: 14px;
          font-weight: 400;
          line-height: 23.4px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #828282;
        }
        .btnBody {
          display: flex;
          align-items: center;
          gap: 20px;
          justify-content: center;
          width: 100%;
          height: auto;
          position: absolute;
          bottom: 0;
          .btn1 {
            background-color: #fff;
            color: #60199d;
            font-family: Rubik;
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
            padding: 10px 0;
            text-align: center;
            text-decoration-skip-ink: none;
            border: none;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #661d9b;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #fff;
              background-color: #661d9b;
            }
          }
          .btns {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            button {
              background-color: #7421b0;
              color: #fff;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              width: 40%;
              font-size: 22px;
              padding: 10px 0;
              transition: 0.3s ease-in-out;
              &:hover {
                background-color: #60199d;
              }
            }
          }
        }
      }
    }
    .product:hover {
      box-shadow: 0px 18px 45px -10px #00000021;
    }
  }
}

@media (max-width: 1280px) {
  section {
    display: flex;
    width: 100%;
    padding-top: 80px;
    position: relative;
    .imgs {
      position: relative;
      z-index: -2;
      top: 180px;
      left: 0;
      .cube {
        position: absolute;
        z-index: -22;
      }
      .elps {
        position: absolute;
        top: 170px;
        z-index: -21;
        width: 300px;
      }
    }

    .pupularBody {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      gap: 10px;
      padding: 70px 30px;
      .product {
        display: flex;
        align-items: start;
        width: 40%;
        height: 300px;
        border: 1px solid #dad4d4;
        border-radius: 8px;
        gap: 20px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        padding: 24px;
        margin-top: 20px;
        .imgWrapper {
          width: 300px;
          overflow: hidden;
          height: 98%;
          img {
            width: 100%;
            height: auto;
            transition: transform 0.6s ease-in-out;
            object-fit: fill;
          }
          img:hover {
            transform: scale(1.1);
          }
        }
        .productText {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 10px;
          width: 50%;
          h4 {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            text-align: left;
            text-decoration-skip-ink: none;
          }
          p {
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            line-height: 23.4px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #828282;
          }
        }
      }
      .product:hover {
        box-shadow: 0px 18px 45px -10px #00000021;
      }
    }
  }
}
@media (max-width: 768px) {
  section {
    display: flex;
    width: 100%;
    padding-top: 30px;
    position: relative;
    .imgs {
      position: relative;
      z-index: -2;
      top: 180px;
      left: 0;
      .cube {
        position: absolute;
        z-index: -22;
      }
      .elps {
        position: absolute;
        top: 170px;
        z-index: -21;
        width: 300px;
      }
    }
    .popularHead {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pupularBody {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      gap: 10px;
      padding: 70px 30px;
      .product {
        display: flex;
        align-items: start;
        width: 100%;
        height: 300px;
        border: 1px solid #dad4d4;
        border-radius: 8px;
        gap: 20px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        padding: 24px;
        margin-top: 20px;
        .imgWrapper {
          width: 300px;
          overflow: hidden;
          height: 98%;
          img {
            width: 100%;
            height: auto;
            transition: transform 0.6s ease-in-out;
            object-fit: fill;
          }
          img:hover {
            transform: scale(1.1);
          }
        }
        .productText {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 10px;
          width: 50%;
          h4 {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            text-align: left;
            text-decoration-skip-ink: none;
          }
          p {
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            line-height: 23.4px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #828282;
          }
          button {
            background-color: #fff;
            color: #661d9b;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            text-decoration-skip-ink: none;
            border: none;
            border-radius: 4px;
            padding: 12px 34px;
            border: 1px solid #661d9b;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #fff;
              background-color: #661d9b;
            }
          }
        }
      }
      .product:hover {
        box-shadow: 0px 18px 45px -10px #00000021;
      }
    }
  }
}
@media (max-width: 425px) {
  section {
    display: flex;
    width: 100%;
    padding-top: 30px;
    position: relative;
    .imgs {
      position: relative;
      z-index: -2;
      top: 180px;
      left: 0;
      .cube {
        position: absolute;
        z-index: -22;
      }
      .elps {
        position: absolute;
        top: 170px;
        z-index: -21;
        width: 300px;
      }
    }
    .popularHead {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pupularBody {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      gap: 10px;

      padding: 30px 10px;
      .product {
        display: flex;
        align-items: start;
        width: 100%;
        height: 600px;
        border: 1px solid #dad4d4;
        border-radius: 8px;
        gap: 20px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        padding: 24px;
        margin-top: 20px;
        flex-direction: column;
        .imgWrapper {
          width: 100%;
          overflow: hidden;
          height: 100%;
          padding: 20px;
          img {
            width: 100%;
            height: 90%;
            transition: transform 0.6s ease-in-out;
            object-fit: fill;
          }
          img:hover {
            transform: scale(1.05);
          }
        }
        .productText {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          h4 {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            text-align: left;
            text-decoration-skip-ink: none;
          }
          p {
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            line-height: 23.4px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #828282;
          }
          button {
            background-color: #fff;
            color: #661d9b;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            text-decoration-skip-ink: none;
            border: none;
            border-radius: 4px;
            padding: 12px 24px;
            border: 1px solid #661d9b;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #fff;
              background-color: #661d9b;
            }
          }
        }
      }
      .product:hover {
        box-shadow: 0px 18px 45px -10px #00000021;
      }
    }
  }
}

@keyframes pulsate {
  0% {
    transform: translate(16px, -16px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(16px, -16px) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translate(16px, -16px) scale(1);
    opacity: 1;
  }
}
